= form_tag login_path do
  .field
    = label_tag :login_name, 'User Name'
    = text_field_tag :login_name, params[:login_name]
  .field
    = label_tag :password, 'Password'
    = password_field_tag :password, params[:password]
  .actions
    = submit_tag 'Login'