%h1 Listing users

%table
  %tr
    %th Login name
    %th Hashed password
    %th Salt
    %th Email
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.login_name
      %td= user.hashed_password
      %td= user.salt
      %td= user.email
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New user', new_user_path
