%h1 Listing subscriptions

%table
  %tr
    %th Publisher
    %th Subscriber
    %th Expires at
    %th
    %th
    %th

  - @subscriptions.each do |subscription|
    %tr
      %td= subscription.publisher.login_name
      %td= subscription.expires_at
      %td= link_to 'Show', subscription
      %td= link_to 'Edit', edit_subscription_path(subscription)
      %td= link_to 'Destroy', subscription, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New subscription', new_subscription_path
